@{
    ViewBag.Title = "Cancel Convertion...";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page content -->
<div id="content" ng-controller="convertionCancelController">
    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Cancel Convertion</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="form-group">
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12">Search</label>
                                    <div class="col-md-11 col-sm-11 col-xs-12">
                                        <input class="form-control" style="width:100%;" type="text" placeholder="Search by Convertion No" maxlength="100" name="searchConvertionNo" ng-model="searchConvertionNo" ng-change="filterConvertionNo()" />
                                    </div>
                                </div>
                                <div class="form-group col-md-7 col-sm-12 col-xs-12">
                                    <div role="status" aria-live="polite">{{showRecordsInfo}}</div>
                                </div>
                                <div class="form-group col-md-5 col-sm-12 col-xs-12" ng-show="showGrid" style="margin-bottom: 0px !important;">
                                    <div class="dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="paginate_button previous" ng-class="pageIndex > 1 ? 'active' : 'disabled'">
                                                <a href="#" aria-controls="datatable" ng-click="previous($event)"><i class="fa fa-arrow-circle-left"></i> Previous</a>
                                            </li>
                                            <li class="paginate_button next" ng-class="pageIndex < unApprovedConvertionJsonLists.LastPageNo ? 'active' : 'disabled'">
                                                <a href="#" aria-controls="datatable" ng-click="next($event)">Next <i class="fa fa-arrow-circle-right"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                            <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                <div class="row" ng-show="showGrid">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                                <thead>
                                                    <tr>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Conversion No</th>
                                                        <th>Remarks</th>
                                                        <th>&nbsp;</th>
                                                        <th style="width: 60px;">&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in unApprovedConvertionJsonLists.Data">
                                                        <td>{{item.ConvertionDate | date : 'dd-MMM-yyyy'}}</td>
                                                        <td>{{item.ConvertionNo}}</td>
                                                        <td>{{item.Remarks}}</td>                                                        
                                                        <td>
                                                            <div class="pull-right">
                                                                <button ng-click="cancelConvertion(item.ConvertionId, item.ConvertionNo)" class="btn btn-danger btn-xs" style="margin-bottom: 0px;margin-right:0px;" title="Cancel Convertion">
                                                                    <span class="fa fa-close"></span>
                                                                </button>
                                                                <button ng-click="PrintReport(item.ConvertionId)" class="btn btn-info btn-xs" style="margin-bottom: 0px;" title="Convertion Report">
                                                                    <span class="fa fa-print"></span>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

@section scripts{
    <script src="~/Scripts/ngControllers/cancel/convertion/convertionCancelController.js?reload=@DateTime.Now.Date.ToShortDateString()"></script>
    <script src="~/Scripts/ngServices/task/convertion/unApprovedConvertionService.js?reload=@DateTime.Now.Date.ToShortDateString()"></script>
    <script src="~/Scripts/ngServices/task/convertion/convertionCancelService.js?reload=@DateTime.Now.Date.ToShortDateString()"></script>    
}